* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: blue;
    height: 80vh;
    width: 80vw;
    position: relative;
}

.boll {
    background-color: red;
    height:100px;
    width: 100px;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
}

.boll-1 {
    background-color: rgb(20, 6, 6);
    height:100px;
    width: 100px;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    animation: bounce1 0.70s ease 0s infinite alternate ,
    bounce2 9s ease 1s infinite both;
}

.boll-2 {
    background-color: rgb(127, 115, 3);
    height:100px;
    width: 100px;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    animation: bounce1 0.90s ease 0s infinite alternate ,
    bounce2 9s ease 1s infinite both;
}

.boll {
    /* animation: bounce1 1s ease 1s infinite alternate; */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    

    animation: bounce1 0.50s ease 0s infinite alternate ,
               bounce2 10s ease 1s infinite both;
}

@keyframes bounce1 {
    from {
        
    }    
    to {
        background-color:yellow;
        transform: translateY(-400px);
    }
}

@keyframes bounce2 {
    from {
    
    }
    to {
       transform: translateX(1100px);
    }
}