.container {
    width: 100vw;
    height: 50vh;
    border: 2px solid black;
    display: grid;


    /* grid-template-columns: 1fr 2fr 1fr; */
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-columns: repeat(4, minmax(100px, 1fr)); */
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(2, 60px);

    /* when container size  big than grind than use justify-content:center property to to align center full grid*/
    /* justify-content: center; */
    /* place-content: center; */

    /* gap: 10px; */
    row-gap: 10px;
    column-gap: 30px;
    justify-items: center;
    align-items: center;
}

.item {
    border: 2px solid red;
    height: 55px;
    width: 55px;
}

/* .item-2 {
    align-self: flex-start;
}

.item-5 {
     justify-self: end;
} */
