@keyframes in-circle-swoop {
    from {
      clip-path: var(--circle-top-right-out);
    }
    to {
      clip-path: var(--circle-bottom-right-in);
    }
  }
  
  [transition-style="in:custom:circle-swoop"] {
    --transition__duration: 5s;
    animation-name: in-circle-swoop;
  }